<!-- <div class="row">
    <div *ngIf="hero" class="col-lg-6 text-center">
        <h2>{{hero.name}} details!</h2>
        <div><label>id: </label>{{hero.id}}</div>
        <div>
          <label>name: </label>
          <input [(ngModel)]="hero.name" placeholder="name" />
        </div>
      </div>
</div>

<div class="row">

    <div class="col-lg-6">
      <h2> Hero Detail Component</h2>
      <ul>
        <li *ngFor="let state of States">
          {{state | json}}
        </li>

      </ul>                   
    </div>
  </div> -->

  <h2>Hero Detail</h2>
  <h3><i>Just a FormControl</i></h3>
  <label class="center-block">Name:
    <input class="form-control" [formControl]="name">
  </label>
